[
{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:team.technologyGroup",
"attributeName":"technologyGroup",
"dataType":"string",
"description":"Technology Group",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"canonicalValues":["inegration","data","platform"] 
},

{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:team.product",
"attributeName":"product",
"dataType":"string",
"description":"Product name",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"canonicalValues":["IS","ESB","AS","GReg","BAM"]
},

{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:team",
"attributeName":"team",
"dataType":"String",
"description":"Team",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"multiValued":"false",
"schema":"urn:scim:schemas:extension:wso2:1.0",
"subAttributes":["technologyGroup","product"]
},

{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:position",
"attributeName":"position",
"dataType":"String",
"description":"Designation of the engineer", 
"readOnly":"false",
"required":"false",
"caseExact":"false",
"multiValued":"false",
"schema":"urn:scim:schemas:extension:wso2:1.0"
},


{
"attributeURI":"urn:scim:schemas:extension:wso2:1.0:blogs",
"attributeName":"blogs",
"dataType":"String",
"description":"Blog URLs",
"readOnly":"false",
"required":"false",
"caseExact":"false",
"multiValued":"true",
"multiValuedAttributeChildName":"blog",
"schema":"urn:scim:schemas:extension:wso2:1.0"
}
]
