body{
    background: #efefef url(../images/grid-bg.png) repeat center top;
}
.copy-msg{
    margin:10px 0 10px 0;
}
.copy-msg li{
    float:right;
    margin-right:10px;
    list-style-type:none;
}
.copy-msg li a{
    color:#CDA869;
}
.follow-us{
  margin:10px 0 10px 0;
}
.follow-us li{
     float:right;
    margin-right:5px;
    list-style-type:none;
}
.icon-blog{
    background:transparent url(../images/mailList.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-twitter{
    background:transparent url(../images/twitter.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-facebook{
    background:transparent url(../images/facebook.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-rss{
    background:transparent url(../images/rss.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
footer{
    padding-bottom:20px;
    font-size:11px;
}
footer h3{
    color:#888;
    text-align:right;
}
.myFooterItemList{
    margin:10px 0;
}
.myFooterItemList li{
    list-style-type:none;
}
.thumbnail{
    line-height:20px;
    text-align:center;
    min-height:184px;
}
.thumbnail a{
    cursor:pointer;
}
.thumbnail img{
    height:78px;
    width:78px;
}
.content-section{
    padding-top:20px;
}
.brand{
    position:absolute;
}
table a{
    cursor:pointer;
}
.table th, .table td {
    font-size:12px;
}
#main-ajax-loader {
    text-align : center;
    height : 400px;
}
.requiredAstrix{
    color:red;
}
.nav .nav-header {
    font-size:13px;
}
.errorlist{
    color:#d10000;
    padding:5px 0px;
}
label.error{
    color:#d10000 !important;
    padding:5px;
}
input.error{
    border-color: rgba(228, 38, 38, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
}
.resourceTableDiv{
    padding-top:10px;
}

#copy-api {
    display: none;
}

.api-thumb {
    margin-bottom: 5px;
}
ul.thumbnails div.thumbnail{
    width:160px;
    height: 177px;
}
ul.thumbnails div.thumbnail:hover{
     border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.btn-api-del{
    margin-left: 136px;
    margin-top: -12px;
    opacity: .5;
    position: absolute;
}
.top-spaced{
    padding-top:40px;
}
.left-spaced{
    padding-left:10px;
}
div.navbar-inner {
    /*background: transparent url(../images/whiteBack.png) repeat center top;*/
    background: -moz-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* FF3.6 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(35, 78, 133, 1)), color-stop(100%, rgba(0, 136, 182, 1))); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* Chrome10,Safari5.1 */
    background: -o-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* Opera11.10 */
    background: -ms-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* IE10 */
    background: linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#234e85',EndColorStr='#0088b6'); /* IE8 */
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(gradientType = 0, startColor = '#234e85', endColoStr = '#0088b6'); /*Transparent back */
    height:45px;
    min-width:450px;
}
#layout-base{
    background-color:#fefefe;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    min-height: 500px;
    border:solid 2px #e6e7e8;
    margin:-15px 5% 0 5%;
}
.menu-content{
    margin: 0 5% 0;
}
footer{
    background:#ccc;
    padding:10px;
    margin:10px 5% 0 5%;
}
a.powered-by-logo {
    background: transparent url(../images/poweredByLogo.png) no-repeat 0 0;
    display: block;
    width: 208px;
    height: 23px;
    cursor: pointer;
}
.navbar .nav > li > a{
    color:#fff;
}
.navbar .divider-vertical{
     background-color: #fff;
}
.even-width-button{    
    font-size: 11px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 84px;
}
.icon-lifecycle{
    background:transparent url(../images/lifecycle.png) no-repeat 0 0;
    width:14px;
    height:14px;
}
.lifeCycleTable{
    margin-bottom:10px;
}
.lifeCycleTable td{
    padding:5px 0;
}
.messageText{
    font-size:13px;
}
.user-name{
    cursor:pointer;
}
.loadingButton, .loadingButton:hover{
    background-image:url(../images/ajax-loader-black.gif);
    background-repeat:no-repeat;
    background-position:10px center;
    text-indent:30px;
    padding:20px;
    cursor:default;
}
.nav-list > li > a.noHover:hover{
    background:#fff;
}
#left li a,.breadcrumb a {
    cursor:pointer;
}
#userInfoMenu{
    padding-bottom:0px;
}
#userInfoMenu a{
    color:#444 !important;
    margin-left:5px;
}
.themeSelection,.userInfoSection{
    padding:20px;
}
.themeSelection{
    width:400px;
}
.navbar .navbar-inner .nav.actions a.themeSelectionLink {
    margin:5px;
    color:#444;
}
.themeSelection a{
    color:#000;
}
#login-link{
    margin-left:0;
}
.logout-link-special{
    background:#999;
    padding:10px;
}
#resourceTable td label.inline, #resourceTable td label.inline{
    margin-left:10px;
    width:40px;
    padding:0 5px 5px;
}
#userInfoMenu{
    margin-left:-100px;
    position:absolute;
    background:white;
}
#userMenu{
    cursor:pointer;
}
#userMenu:hover{
    background:transparent;
}
#editStatusForm{
    padding-bottom:0;
}
.userSpecialCell{
    width:150px;
}
.appSpecialCell{
    width:150px;
}
@media all and (max-width: 850px) {
    #left{
        display:block;
        width:100%;
    }
}
@media all and (max-width: 900px) {
    div.login-container div.row{
        padding:0 10px;
    }
    div.login-container div.span4{
        width:94%;
        margin:0;
        display:block;
        float:none;
    }
    #layout-base {
        min-height:0;
    }
}
@media all and (max-width: 1025px) {
     .pagination a{
        padding:0 9px;
    }
}
.form-horizontal .controls .tierHelp,form.form-search .tierHelp {
  background:transparent url(../images/help.png) no-repeat;
  width:16px;
  height:16px;
  margin-top:-26px;
  cursor:pointer

}
form.form-search .tierHelp {
    margin-top:2px;
}

.form-horizontal .controls .tierPara,.form-horizontal .controls .rolePara{
  display: block;
  float: right;
  width: 63%;
  color: #999999;
  margin-bottom: 0;
  margin-top: 0;
  text-align:justify;
}

.form-horizontal .controls select {
  width: 32%;
}
.graphTable a {
       color: #c75f3e;
}

.graphTable {
       padding: 0;
       margin: 10px 0 0 0;
   border-left: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
}

.graphTable caption {
       padding: 0 0 5px 0;
       width: 700px;
       font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       text-align: right;
}

.graphTable th {
       font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #4f6b72;
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
       letter-spacing: 2px;
       text-transform: uppercase;
       text-align: left;
       padding: 6px 6px 6px 12px;
       background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.graphTable  th.nobg {
       border-top: 0;
       border-left: 0;
       border-right: 1px solid #C1DAD7;
       background: none;
}

.graphTable td {
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       background: #fff;
       padding: 6px 6px 6px 12px;
       color: #4f6b72;
}


.graphTable td.alt {
       background: #F5FAFA;
       color: #797268;
   width:100%;
}

.graphTable th.spec {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #fff;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.graphTable th.specalt {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #f5fafa;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #797268;
}
.remove-well-space{
   padding:0 0 10px 0;
}

#resourceTable  tr:nth-child(2n1) td{
     background-color: #cccccc;
}
#resourceTable td{
    vertical-align:middle;
    padding:3px;
}
#resourceTable td a.edit-btn-special{
    margin-top:10px;
}
#resourceTable td div.container-fluid{
    padding:0 0 0 5px;
}
#resourceTable label.checkbox {
    height:23px;
    line-height:23px;
}
#resourceTable select{
    font-size:11px;
}
#resourceTableDiv a{
    cursor:pointer;
}
#resourceTableDiv a.btn{
    margin-bottom:10px;
    text-align:left;
}
#resourceTableDiv button.btn{
    margin-bottom:10px;
    text-align:left;
}
.up-down-arrows{
    margin-left: 25px;
    margin-top: -40px;
    position: absolute;
}
.apiFaultyByTimeChart-filter{
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding:5px;
    margin-bottom:10px;
}